@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Manrope */
@font-face {
    font-family: 'Manrope';
    src: url('../../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    /* Frame 1 */
    position: relative;
    max-width: 1920px;
    background: #FFFFFF;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: #000000 !important;
}

.a1 {
    text-decoration: none;
}

.a1:hover p {
    /* Блог */
    text-decoration: underline;
    color: #F58013;
}

/*Header*/

#burger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}


#navMenu {
    display: flex;
    gap: 20px;
    z-index: 1001;
}

@media (max-width: 992px) {
    #burger {
        display: block;
    }

    #navMenu {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 2000;
    }

    #navMenu.active {
        display: flex;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 150px;
    z-index: 1000;
    background: #FFFFFF;
    padding: 0px 5px;
}

.myrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mybtn {
    border: 0px;
    background-color: #ffffff00;
}

.frame5703 {
    /* Frame 5703 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    margin: 10px auto;
    max-width: 1156px;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
}

.frame5703tum {
    /* Тюмень */
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7D7D7D;
}

@media(max-width: 992px) {
    .frame5703tum {
        /* Тюмень */
        display: none !important;
    }
}

.frame5702 {
    /* Frame 5702 */
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    width: fit-content;
    height: fit-content;
}

.frame5616 {
    /* Frame 5616 */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    max-width: 264px;
    height: fit-content;
}

.fabrika {
    /* Fabrika */
    max-width: 144px;
    height: fit-content;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    color: #282828;
}

.fabrika5701 {
    /* Frame 5701 */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-width: 107px;
    height: fit-content;
}

.frame5701otidei {
    /* От идеи до воплощения */

    max-width: 107px;
    height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12.73px;
    color: #969696;
}

.frame5618 {
    /* Frame 5618 */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: fit-content;
    width: fit-content;

}

.frame5618text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #282828;
}

.frame5704 {
    /* Frame 5704 */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 236px;
    height: fit-content;
}

.group5628 {
    /* Group 5628 */
    width: 174px;
    height: fit-content;
}

.group5628text {
    /* +7 (3452) 748-804 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #282828;
}

.user-circle1 {
    /* user-circle 1 */
    width: 42px;
    height: fit-content;
    overflow: hidden;
}

/*Header*/

/* index */

.main {
    margin-top: 20vh;
    width: 100%;
    height: fit-content;
    padding: 25px;
}

.frame5705 {
    /* Frame 5705 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    max-width: 1920px;
    margin: auto 20px;
    height: fit-content;
    bottom: 0px;
}

.frame5692 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
    isolation: isolate;
    max-width: 1860px;

    height: 563px;
    margin-top: 180px;
    margin: auto;
}

.carousel {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    max-width: 1860px;
    height: 100%;
    min-height: 400px !important;
}

.carousel-caption {
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
}

.carousel-text {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    height: 50%;
    justify-content: center;
}

@media(max-width: 576px) {
    .carousel-text {
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        height: 30%;
        justify-content: center;
        font-size: 1.5rem;
    }
}

.carouselbtn {
    margin: auto;
    font-size: 1.5rem;
    /* Frame 1 */
    width: 171px;
    height: 58px;
    border: 0px;

    background: #FFFFFF;
    border-radius: 5px;
}

@media(max-width: 576px) {
    .carouselbtn {
        margin: auto;
        font-size: 1rem;
        /* Frame 1 */
        width: fit-content;
        padding: 5px 15px;
        height: 58px;
        border: 0px;
    }
}

.carousel-item {
    background-color: #000000;
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carouselimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* обрезка по контейнеру */
    opacity: 0.7;
    display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 2px solid white !important;
    border-radius: 50% !important;
}

@media (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        top: auto !important;
        bottom: 20px !important;
        transform: none !important;
        width: 15%;
        height: 40px;
    }

    .carousel-control-prev {
        left: 10px !important;
    }

    .carousel-control-next {
        right: 10px !important;
    }

    .frame5699 {
        gap: 60px;
    }
}


.frame5699 {
    /* Frame 5699 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 60px;
    max-width: 1833px;

    margin: 60px 20px;
    height: fit-content;
    bottom: 0px;
}

.frame56991 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media(max-width:992px) {
    .frame56991 {
        width: 90%;
    }
}


.frame5693 {
    /* Frame 5693 */

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 80px;
    max-width: 1168px;
    width: 100%;
    margin: auto;
    height: 70px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
}

@media(max-width: 576px) {
    .frame5693 {
        flex-direction: column;
    }
}

.frame5695text {
    /* Готовые решения */


    width: 100%;
    min-height: 68px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    color: #282828;
}

.frame5694 {
    /* Frame 5694 */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    max-width: 1170px;
    min-height: 483px;
}

.frame5626 {
    /* Frame 5626 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    height: fit-content;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5700 {
    /* Frame 5700 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px 15px;
    gap: 21px;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;


}

.frame5700text1 {
    /* Детская кровать «Bunny» */
    min-height: 66px;
    width: fit-content;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    /* or 33px */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5700text2 {
    /* 23000 Р. */
    min-height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame11 {
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    padding: 5px 15%;
    gap: 10px;

    max-width: 160px;
    height: 50px;

    background: #282828;
    border-radius: 5px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame11text {
    /* В корзину */

    max-width: 88px;
    max-height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
    margin: auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media(max-width:576px) {
    .frame11text {
        font-size: 14px;
    }
}

.maskgroup {
    /* Mask group */

    width: 270px;
    height: 270px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

.maskgroupimg {
    /* Rectangle 1280 */


    width: 270px;
    height: 270px;
    left: 0px;
    top: 0px;

    background: #D9D9D9;
    border-radius: 5px 5px 0px 0px;

}

@media (max-width: 768px) {
    .frame5626 {
        max-width: 40%;
        height: auto;
    }

    .maskgroup,
    .maskgroupimg {
        width: 100%;
        height: auto;
    }

    .frame5700 {
        padding: 10px;
        max-width: 100%;
        gap: 10px;
    }

    .frame5700text1 {
        font-size: 18px;
        line-height: 130%;
        height: auto;
    }

    .frame5700text2 {
        font-size: 14px;
    }

    .frame11text {
        font-size: 16px;
    }

    .frame5694 {
        gap: 20px;
        justify-content: center;
    }
}


.frame5698 {
    /* Frame 5698 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    max-width: 1833px;
    min-height: 597px;
    width: 95vw;
    background: #F9F9F9;
    border-radius: 25px;
    margin: 80px auto;

}

@media (max-width: 992px) {
    .frame5698 {
        /* Frame 5698 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px 10px;
        gap: 10px;


        max-width: 1833px;
        height: fit-content;

        background: #F9F9F9;
        border-radius: 25px;

        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
        margin-top: 80px;

    }
}

.frame5697 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 1170px;
    width: 90%;
    height: 50%;
    margin: auto;
}


@media (max-width: 992px) {
    .frame5697 {
        /* Frame 5697 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;

        max-width: 1171px;
        height: fit-content;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

    }

    .frame5447 {
        /* Frame 5447 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px !important;

        max-width: 463px;
        min-height: 390px;
        width: 100%;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

    }
}

.frame5447 {
    /* Frame 5447 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 38px;
    width: 100%;
    max-width: 463px;
    min-height: 390px;
    padding-right: 25px;
    margin: auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}


.frame5447text1 {
    /* О компании */

    max-width: 250px;
    min-height: 68px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    /* identical to box height, or 68px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #282828;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5447text2 {

    max-width: 463px;
    width: 100%;
    min-height: 284px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #282828;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame5446 {
    /* Frame 5447 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 38px;

    max-width: 463px;
    min-height: 390px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.maskgroup2 {
    /* Mask group */
    max-width: 568px;
    width: 100%;
    /* Inside auto layout */
 
    margin: auto;
}

.maskgroup2img {
    /* IMG_20221018_221911_562 1 */
    max-width: 100%;
    top: 0px;
    /* Rectangle 9 */
    width: 100%;
    height: auto;
    background: #D9D9D9;
    border-radius: 30px;
    display: block;
}

.frame914 {
    /* Frame 914 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 75px 96px;
    gap: 10px;

    max-width: 1180px;
    min-height: 495px;

    background: #282828;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 60px auto;

}

.frame984 {
    /* Frame 984 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    max-width: 988px;
    width: 100%;
    min-height: 345px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media (max-width: 768px) {

    .frame984 {
        /* Frame 984 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 17px;

        width: 100%;
        min-height: 345px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;


    }
}

.frame983 {
    /* Frame 983 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    max-width: 505px;
    min-height: 80px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

.frame982 {
    /* Frame 982 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    width: 100%;
    max-width: 988px;
    min-height: 237px;
}

@media (max-width: 768px) {
    .frame982 {
        /* Frame 982 */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 17px;

        max-width: 988px;
        min-height: 237px;
        width: 100%;
    }
}

.frame983text1 {
    /* Оставьте заявку */

    max-width: 290px;
    min-height: 44px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */
    text-transform: uppercase;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame983text2 {
    /* Мы свяжемся с вами и расскажем подробнее обо всех видах услуг */

    max-width: 505px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 0;
}

.frame981 {
    /* Frame 981 */

    /* Auto layout */
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    flex-direction: row !important;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    max-width: 988px;
    width: 100%;
    min-height: 54px;
    height: 100%;
}


@media (max-width: 768px) {
    .frame981 {
        /* Frame 981 */

        /* Auto layout */
        display: flex;
        flex-direction: column !important;

        width: 100%;
    }

    .frame975 {
        /* Frame 975 */
        max-width: 100% !important;
    }

    .frame976 {
        /* Frame 976 */
        max-width: 100% !important;

    }

    .frame977 {
        /* Frame 977 */
        max-width: 100% !important;
    }
}

.frame9811 {
    /* Frame 981 */

    /* Auto layout */
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    max-width: 988px;
    width: 100%;
    min-height: 54px;
    height: 100%;
}

.frame975 {
    /* Frame 975 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 31px 16px 20px;
    gap: 10px;
    color: white;
    max-width: 264px;
    height: 54px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame976 {
    /* Frame 976 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 31px 16px 20px;
    gap: 10px;
    color: white;
    max-width: 264px;
    height: 54px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame977 {
    /* Frame 977 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 31px 16px 20px;
    gap: 10px;
    color: white;
    max-width: 470px;
    width: 100%;
    height: 54px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.frame978 {
    /* Frame 978 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 20px;
    gap: 10px;
    color: white;
    max-width: 988px;
    height: 58px;
    width: 100%;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.frame979 {
    /* Frame 979 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;
    min-height: 91px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame974 {

    /* Frame 974 */

    /* Auto layout */
    display: flex;
    flex-direction: row;


    padding: 0px;
    gap: 10px;

    min-height: 23px;
    width: 100%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 17px;
    user-select: none;

}

.custom-checkbox2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 17px;
    user-select: none;

}

.custom-checkbox input {
    display: none !important;
}

.custom-checkbox2 input {
    display: none !important;
}

.checkmark {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #FFFFFF !important;
    position: relative;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.checkmark2 {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #000000 !important;
    position: relative;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.custom-checkbox input:checked+.checkmark::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox2 input:checked+.checkmark2::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-checkbox:hover .checkmark {
    border-color: #CCCCCC;
}

.custom-checkbox2:hover .checkmark2 {
    border-color: #3d3d3d;
}

.checkbox-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.checkbox-text2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    max-width: 300px;
}

.frame4 {
    /* Frame 4 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 50px;
    gap: 10px;
    width: 183px;
    height: 48px;
    border: 1px solid #FFFFFF !important;
    border-radius: 6px;
    background-color: #00000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btncolor:hover {
    background-color: #F58013;
    border: 0px;
}

.frame4text {
    /* Заказать звонок */

    width: 83px;
    height: 22px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto;
}

.frame5545 {
    /* Frame 5545 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    max-width: 1170px;
    min-height: 632px;

    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 50px auto;

}

.frame48095787 {
    /* Frame 48095787 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    max-width: 1170px;
    min-height: 68px;
    width: 100%;
}

.frame48095786 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 30px;

    max-width: 1170px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.frame48095782 {
    flex: 0 0 270px;
    min-height: 419px;
}

.frame48095787text1 {
    /* Новости */

    max-width: 178px;
    height: 68px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    /* identical to box height, or 68px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #282828;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame48095787text2 {
    /* Все статьи > */

    width: 130px;
    height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    text-align: center;
    letter-spacing: -0.011em;

    color: #686868;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame48095782 {
    /* Frame 48095782 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    max-width: 270px;
    min-height: 419px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.maskgroup3 {
    /* Mask group */

    width: 270px;
    height: 236px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.maskgroup3img {
    /* remont-myagkoj-mebeli-svoimi-rukami 1 */

    width: 423.62px;
    height: 236px;
    left: -39px;
    top: 0px;

    background: url(remont-myagkoj-mebeli-svoimi-rukami.jpg);

    /* Rectangle 1302 */
    width: 270px;
    height: 236px;
    left: 0px;
    top: 0px;

    background: #A8A8A8;
    border-radius: 5px;
}

.blog1 {
    /* блог 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 270px;
    height: 163px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 268px;
    height: 163px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame5540 {
    /* Frame 5540 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 236px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5540text1 {
    /* 23.09.2022 */

    width: 83px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #A6A6A6;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5540text2 {
    /* Чтение: 5 минут */

    width: 133px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #A6A6A6;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame3text1 {
    /* Paris-inspired style? Check! */

    width: 268px;
    height: 75px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    /* 111111 */
    color: #111111;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.frame3text2 {
    /* You can draw inspiration from the characters of Paris, too. */

    width: 268px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    /* 111111 */
    color: #111111;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}


/* index */

/* footer */

.footer {
    background-color: #282828;
    color: #A4A4A4;
    padding: 60px 100px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 150%;
    /* подвал */
    max-width: 1920px;
    min-height: 318px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    gap: 60px;
    flex-wrap: wrap;
    /* Group 5428 */
    max-width: 1920px;
    min-height: 318px;
    left: 0px;
    top: 0px;
}

.fabr {
    height: fit-content;
}

.footer__soc {
    display: flex;
    flex-direction: column;

    align-items: end;
}

@media (max-width: 768px) {
    .fabr {
        order: 4;
    }

    .katalog {
        order: 2;
    }

    .company {
        order: 3;
    }

    .contacts {
        order: 1;
        text-align: start !important;
    }

    .footer__socials {
        justify-content: start !important;
    }

    .footer__title1 {
        display: none;
    }

    .footer__title2 {
        display: block !important;
        color: white;
        font-weight: bold;
        margin-bottom: 0px;
        /* Fabrika */
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 41px;
        color: #FFFFFF;
        margin-bottom: 20px !important;
    }

    .footer {
        padding: 20px 20px;
    }

    .footer__soc {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;
        gap: 40px !important;
        flex-wrap: wrap;
        /* Group 5428 */
        max-width: 1920px;
        min-height: 318px;
        left: 0px;
        top: 0px;
    }

    .ww {
        /* сделано вв */
        width: 190.22px;
        min-height: 56px;
        left: 374px;
        margin-top: 0px !important;
    }

    .footer__column {
        display: flex;
        flex-direction: column;
        gap: 5px !important;
        min-width: 200px;
        /* пункты футера */
        width: fit-content;
        min-height: 200px;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    /* пункты футера */
    width: fit-content;
    min-height: 200px;
}

.contacts {
    text-align: end;
}

.footer__title1 {
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    /* Fabrika */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    color: #FFFFFF;
}

.footer__title2 {
    display: none;
}

.footer__subtitle {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.footer__link1 {
    /* Политика конфиденциальности */

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* identical to box height, or 16px */
    letter-spacing: -0.011em;

    color: #A4A4A4;
    text-decoration: none;
}

.footer__link {
    color: #A4A4A4;
    text-decoration: none;
}

.ww {
    /* сделано вв */
    width: 190.22px;
    min-height: 56px;
    left: 374px;
    margin-top: 50px;
}

.footer__small {
    font-size: 12px;
    color: #A4A4A4;
}

.footer__note {
    font-size: 12px;
    color: #A4A4A4;
    margin-top: 10px;
    max-width: 180px;
    width: fit-content;
    /* Свяжитесь с нами удобным способом! */
    text-align: end !important;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    text-align: right;

    color: #A4A4A4;
}

@media(max-width:768px) {
    .footer__note {
        font-size: 12px;
        color: #A4A4A4;
        margin-top: 10px;
        max-width: 180px;
        width: fit-content;
        /* Свяжитесь с нами удобным способом! */
        text-align: start !important;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */
        text-align: right;

        color: #A4A4A4;
    }
}

.footer__socials {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    width: fit-content;
    /* Frame 5553 */
    min-width: 124px;
    justify-content: end;
    height: 31px;
}

.footer__socials img {
    width: 24px;
    height: 24px;
}

.logocolor1 {
    /* logoColor 1 */
    width: 47px;
    height: 26px;
}

.footerimg {
    /* вк */
    width: 31px;
    height: 31px;
    border-radius: 5px;
}

.footer__link2 {
    color: #A4A4A4;
    text-decoration: none;
    /* Fabrika-tyumen@yandex.ru */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    /* identical to box height */
    color: #FFFFFF;
}

/* footer */

/* blogone */

.mainblogone {
    position: relative;
    margin: 7% auto;
    overflow-x: hidden;
    width: 100vw;
}

.frame5709 {
    /* Frame 5709 */

    /* Auto layout */

    display: flex;

    align-items: center;
    padding: 0px;
    gap: 100px;
    width: fit-content;


    max-width: 1920px;
    min-height: 1363px;
    left: 0px;
    top: 135px;
    margin: auto;



}

.frame5708 {
    /* Frame 5708 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    max-width: 1170px;
    min-height: 945px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;

}

.frame5707 {
    /* Frame 5707 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    max-width: 1170px;
    min-height: 945px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;

}

.frame5706 {
    /* Frame 5706 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 37px;

    max-width: 1170px;
    min-height: 626px;
    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5679 {
    /* Frame 5679 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 100%;

    max-width: 537px;
    min-height: 19px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5679text1 {
    /* Блог */

    max-width: 35px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration-line: underline;

    /* Darkish-Grayish */
    color: #7D7D7D;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5679text2 {
    /* > */

    width: 9px;
    height: 19px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* Darkish-Grayish */
    color: #7D7D7D;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame5679text3 {
    /* 8 факторов, определяющих стоимость ремонта мягкой мебели */

    max-width: 463px;
    min-height: 17px;
    width: 100vw;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #282828;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}


.maskgroup4 {
    /* Mask group */

    max-width: 1170px;
    min-height: 470px;
    width: 100%;

    filter: drop-shadow(0px 4px 11px rgba(240, 240, 240, 0.25));

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.maskgroup4img {
    /* viza_udevelopment_vulgarnye-2 2 */

    position: absolute;
    max-width: 1170px;
    width: 100%;


    top: -209px;

    background: url(viza_udevelopment_vulgarnye-2.jpg);
    /* Rectangle 1368 */

    position: absolute;


    top: 56px;

    background: #F9F9F9;
    border-radius: 25px;

}

.title {
    /* аннотация и название */

    max-width: 872px;
    min-height: 389px;
    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.titletext1 {
    /* 5 факторов, определяющих стоимость ремонта мягкой мебели */


    max-width: 836px;
    min-height: 136px;
    left: 0px;
    top: 40px;
    width: 100%;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 150%;
    /* or 68px */

    color: #282828;


}

.titletext2 {


    max-width: 871px;
    min-height: 168px;
    left: 1px;
    top: 221px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    color: #282828;


}

.frame5540 {
    /* Frame 5540 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;


    width: 189px;
    height: 24px;

    top: 0px;


}

.frame5540text {
    /* 23.09.2022 */

    width: 73px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #969696;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame5546 {
    /* Frame 5546 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    width: 86px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame5546text {
    /* 5 минут */

    width: 57px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #969696;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* blogone */

/* modal */

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;

}

.mymodal {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 520px;
    width: 98vw;
    height: fit-content;
}

.closediv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.modal-close {
    margin-left: auto;
    font-size: 36px;
    font-weight: lighter;
    background-color: #ffffff00;
    border: 0px !important;
    cursor: pointer;
}

.bodymodal {
    /* Frame 48095775 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 30px;

    position: relative;

    background: #FFFFFF;
    border-radius: 5px;
}

.form-wrapper {
    background: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.frame48095777 {
    /* Frame 48095777 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    margin-bottom: 30px;
    width: 422px;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame48095777text {
    /* Войти */

    width: 367.5px;
    height: 68px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    /* identical to box height, or 68px */
    letter-spacing: -0.011em;

    color: #282828;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.modal-close {
    /* Vector 1571 */

    width: 24.5px;
    height: 23.5px;

    border: 1px solid #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.frame48095775 {
    /* Frame 48095775 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    max-width: 422px;
    width: 100%;
    min-height: 324px;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}


.in {

    /* Frame 975 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 31px 16px 20px;
    gap: 10px;

    max-width: 422px;
    width: 100%;
    height: fit-content;


    background: #F9F9F9;
    border-radius: 6px;
    border: 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.submit {
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;

    min-width: 133px;
    width: fit-content;
    height: 50px;

    background: #7D7D7D;
    border-radius: 5px;
    padding: 0 25px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 0px;

}

.submit p {
    /* Войти */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;

    margin: auto;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame48095775text {
    /* У вас еще нет аккаунта? Зарегистрироваться */

    width: 351px;
    height: 22px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #969696;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 30px;

}

.input-error {
    background-color: #FFE4E4 !important;
    border: 1px solid #F36A6A !important;
    color: #F36A6A;
}

.error-message {
    color: #F36A6A;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.checkbox-error .checkbox-text2 {
    color: #F36A6A;

}

/* Контур чекбокса при ошибке */
.checkmark2.checkmark-error {
    border: 1px solid #F36A6A !important;
    background-color: #f36a6a5b;
}

/* (опционально) Цвет заливки при ошибке */
.checkmark2.checkmark-error::before {
    background-color: red;
}

/* Красный текст */
.custom-checkbox2.checkbox-error .checkbox-text2 {
    color: #F36A6A;
}

.in {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Иконка ошибки */
.error-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #F36A6A;
    font-size: 18px;
    pointer-events: none;
}

.phone-icon {
    margin-top: -48px;
    /* подстрой под высоту поля */
    margin-left: calc(100% - 30px);
    position: relative;
    z-index: 2;
    border: 2px solid #F36A6A;
    border-radius: 50%;
}

.username-icon {
    margin-top: -48px;
    /* подстрой под высоту поля */
    margin-left: calc(100% - 30px);
    position: relative;
    z-index: 2;
    border: 2px solid #F36A6A;
    border-radius: 50%;
}

.user-icon {
    margin-top: -48px;
    /* подстрой под высоту поля */
    margin-left: calc(100% - 30px);
    position: relative;
    z-index: 2;
    border: 2px solid #F36A6A;
    border-radius: 50%;
}

.password-icon {
    margin-top: -48px;
    /* подстрой под высоту поля */
    margin-left: calc(100% - 30px);
    position: relative;
    z-index: 2;
    border: 2px solid #F36A6A;
    border-radius: 50%;
}

/* Красный input */
.input-error {
    background-color: #FFE4E4 !important;
    border: 1px solid #F36A6A !important;
}

/* Красный placeholder */
.input-error::placeholder {
    color: #F36A6A;
}

/* Сообщение об ошибке */
.error-message {
    color: #F36A6A;
    font-size: 14px;
    margin-top: 5px;
}

/* modal */